
.form-input {
    margin-bottom: 15px; 
    width: 100%; 
}

.buttone {
    border-radius: 5px;
    color: white; 
    background-color: rgb(4, 120, 215); 
    border: none; 
    padding: 4px 10px; 
    cursor: pointer; 
    margin-left: 200px;
}

.buttone:hover {
    background-color: rgb(5, 84, 195); 
}

